.page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 55px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 7000;

    // default state
    opacity: 0;

    @media (max-width: 992px) {
        padding: 45px 40px;
    }

    @media (max-width: 667px) {
        padding: 35px 15px;
    }

    &__logo {
        display: block;
        transition: all .4s ease-in-out;
        &:hover {
            opacity: 0.8;
        }

        img {
            max-width: 96px;
            width: 100%;
        }
    }
}

.page-navigation {

    @media (max-width: 667px) {
        display: none;
    }

    > ul {
        display: flex;

        > li {
            position: relative;
            margin: 0 1.25rem;

            &:hover {
                .page-navigation__submenu {
                    opacity: 1;
                    visibility: visible;
                }

                &:nth-child(3):before {
                    opacity: 1;
                }
            }

            // contact menu item
            &:nth-child(3) {
                &:before {
                    content: '';
                    background: #06E9E3;
                    position: absolute;
                    top: -60px;
                    left: -12px;
                    width: 136px;
                    height: 127px;
                    opacity: 0.45;
                    transition: all .45s ease-in-out;
                    border-bottom-right-radius: 13px;
                    border-bottom-left-radius: 13px;
                }

                a {
                    opacity: 1;
                }
            }

            &.has-submenu > a {
                &:after {
                    content: '';
                    background: url("#{$imgPath}arrow-down.svg") no-repeat;
                    background-size: 100% 100%;
                    width: 12px;
                    height: 6px;
                    position: absolute;
                    right: -21px;
                    top: 12px;
                }
            }

            > a {
                color: #fff;
                opacity: 0.65;
                position: relative;
                z-index: 10;
                font-size: 1.25rem;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &__submenu {
        position: absolute;
        left: 50%;
        max-width: 174px;
        min-width: 174px;
        margin-left: -85px;
        top: 160%;
        background: #fff;
        padding: 6px 0;
        border-radius: 5px;
        box-shadow: -6px 6px 30px rgba(0, 0, 0, 0.15);

        opacity: 0;
        visibility: hidden;
        transition: all .35s ease-in-out;

        > li {

            a {
                display: flex;
                align-items: center;
                padding: 7px 12px;
                color: #000;
                font-size: 0.95rem;
                &:hover {
                    background: #f1f1f1;
                }

                i {
                    display: inline-block;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 18px;
                    height: 15px;
                    margin-right: 12px;
                }

                &.ux i{
                    background-image: url("#{$imgPath}icons/user-interface.svg");
                }

                &.design i {
                    background-image: url("#{$imgPath}icons/vector.svg");
                }

                &.dev i {
                    background-image: url("#{$imgPath}icons/coding.svg");
                }

                &.seo i {
                    background-image: url("#{$imgPath}icons/statistics.svg");
                }
            }
        }

        &:before {
            content: '';
            display: block;
            background: url("#{$imgPath}box-triangle.svg") no-repeat;
            width: 15px;
            height: 13px;
            position: absolute;
            top: -9px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    &--featured {
        > ul {
            > li {
                &:nth-child(3) {
                    &:before {
                        background: rgba(#A069EB, 0.5);
                    }
                }
            }
        }
    }
}
