#mouseCircle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #bbb;
    z-index: 3000;
}

.parallax-ananas {
    position: absolute;
    left: -100px;
    bottom: 65%;
    width: 20vw;
    height: 40vw;

    @media (max-width: 1280px) {
        display: none;
    }
}

.parallax-heel {
    width: 20vw;
    height: 40vw;
    background: url("#{$imgPath}heel-graphics.svg") no-repeat;
    background-size: auto 100%;
    z-index: 100;
    position: absolute;
    top: 20%;
    right: -50px;
}

.parallax-wwd-circle {
    background: url("#{$imgPath}services/circle-graphics.svg") no-repeat;
    width: 148px;
    height: 150px;
    background-size: auto 100%;
    z-index: 100;
    position: absolute;
    top: 35%;
    left: 18%;
}

.parallax-wwd-points {
    background: url("#{$imgPath}services/points-graphics.svg") no-repeat;
    width: 113px;
    height: 193px;
    background-size: auto 100%;
    z-index: 100;
    position: absolute;
    top: 45%;
    right: 42%;
}

.parallax-wwd-stars {
    background: url("#{$imgPath}services/stars-graphics.svg") no-repeat;
    width: 91px;
    height: 147px;
    background-size: auto 100%;
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 20%;
}

.parallax-wwd-triangle {
    background: url("#{$imgPath}services/triangles.svg") no-repeat;
    width: 129px;
    height: 102px;
    background-size: auto 100%;
    z-index: 100;
    position: absolute;
    top: 65%;
    right: 18%;
}

.parallax-wwd-vertical-lines {
    background: url("#{$imgPath}services/vertical-lines.svg") no-repeat;
    width: 28px;
    height: 290px;
    background-size: auto 100%;
    z-index: 5000;
    position: absolute;
    bottom: 0;
    right: 21%;

    @media (max-width: 992px) {
        display: none;
    }
}

.ananas-graphics {
    width: 20vw;
    height: 40vw;
    background: url("#{$imgPath}ananas.png") no-repeat;
    background-size: auto 100%;
    z-index: 100;

    @media (max-width: 1280px) {
        display: none;
    }
}

.parallax-team-circle {
    background: url("#{$imgPath}/our-team-circle.png") no-repeat;
    width: 662px;
    height: 662px;
    background-size: auto 100%;
    z-index: 1000;
    position: absolute;
    bottom: 0;
    right: -300px;

    @media (max-width: 1280px) {
        display: none;
    }
}

/* svg filter */
.liquidEffect {
    position: absolute;
}


.drops {
    position: relative;
    width: 100%;
    height: 100vh;
}

.drop {
    position: absolute !important;
    background-repeat: no-repeat;
    z-index: 10;
    transform: translate(0, 50px);
    opacity: 0;

    @media (max-width: 800px) {
        display: none !important;
    }

    &-1 {
        background-image: url("#{$imgPath}liquids/drop-1.png");
        background-size: cover;
        width: 716px;
        height: 553px;
        top: -250px !important;
        left: 10%  !important;

        @media (max-width: 800px) {
            display: block !important;
            width: 416px;
            height: 253px;
            background-size: auto 100%;
            top: -50px !important;
        }
    }

    &-2 {
        background-image: url("#{$imgPath}liquids/drop-2.png");
        background-size: cover;
        width: 260px;
        height: 240px;
        top: 55% !important;
        left: 50% !important;
    }

    &-3 {
        background-image: url("#{$imgPath}liquids/drop-3.png");
        background-size: cover;
        width: 897px;
        height: 792px;
        top: 64% !important;
        left: -200px !important;

        @media (max-width: 800px) {
            display: block !important;
            width: 416px;
            height: 353px;
            background-size: auto 100%;
            top: 50% !important;
            left: 10% !important;
        }
    }

    &-4 {
        background-image: url("#{$imgPath}liquids/drop-4.png");
        background-size: cover;
        width: 600px;
        height: 635px;
        top: 27% !important;
        left: 62% !important;
    }

    &-5 {
        background-image: url("#{$imgPath}liquids/drop-5.png");
        background-size: cover;
        width: 123px;
        height: 124px;
        top: 19%  !important;
        left: 78%  !important;
        z-index: 100;
    }

    &-6 {
        background-image: url("#{$imgPath}liquids/drop-6.png");
        background-size: cover;
        width: 70px;
        height: 115px;
        top: 19%  !important;
        left: 90%  !important;
        z-index: 100;
    }

    &-7 {
        background-image: url("#{$imgPath}liquids/drop-7.png");
        background-size: cover;
        width: 330px;
        height: 248px;
        top: 75%  !important;
        left: 88%  !important;
    }

    &-8 {
        background-image: url("#{$imgPath}liquids/drop-8.png");
        background-size: cover;
        width: 140px;
        height: 188px;
        top: 20%  !important;
        left: 52%  !important;
        z-index: 50;
    }

    &-9 {
        background-image: url("#{$imgPath}liquids/drop-9.png");
        background-size: cover;
        width: 270px;
        height: 128px;
        top: 97%  !important;
        left: 54%  !important;
    }

    &-10 {
        background-image: url("#{$imgPath}liquids/drop-10.png");
        background-size: cover;
        width: 380px;
        height: 585px;
        top: 58%  !important;
        left: 68%  !important;
        z-index: 10;
    }
}
