.video-bottom-layer {
    content: "";
    height: 100vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("#{$imgPath}video-bottom-layer.png") repeat-x;
    background-position: center bottom;
    z-index: 4000;
    transform: translateZ(0);
    margin-bottom: -2px;
}

.hero-player {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 20;
    transform: translateZ(0);

    &__container {
        height: 100%;
        position: relative;
        z-index: 10;
        overflow: hidden;

        video {
            width: 100%;
            height: 100%;
            outline: none;
            position: relative;
            transform: translate(0, -10%);
        }
    }
}

.video-sound {
    position: absolute;
    bottom: 70px;
    right: 70px;
    color: #fff;
    z-index: 5000;
    opacity: 0.2;
    text-align: right;
    transition: all .3s ease-in-out;

    &:hover {
        opacity: 1;
    }

    &__btn {
        background: none;
        border: none;
        cursor: pointer;

        svg {
            width: 40px;
            height: 40px;
        }

        svg path {
            fill: #fff;
        }
    }
}

video::-webkit-media-controls-panel {
    // Your styling here
    background-image: linear-gradient(
        transparent,
        transparent
    ) !important; //Transparent for your case
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
    display: none;
}
