.scrollbar-track .scrollbar-thumb {
    background: #352868;
}

.scrollbar-track.scrollbar-track-y {
    background: #fff;
}


@media (max-width: 992px) {
    .scrollbar-track.scrollbar-track-y {
        background: transparent;
    }
}

/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 9px;
    height: 100vh;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    background: #fff;

    @media (max-width: 992px) {
        background: transparent;
    }
}
.c-scrollbar:hover {
    transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #352868;
    opacity: 1;
    width: 7px;
    border-radius: 10px;
    border: none;
    margin: 3px;
    cursor: -webkit-grab;
    cursor: grab;
    margin-right: 1px;
}
.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
