* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-size-adjust: none;
    height: 100%;
    width: 100%;
    overflow: hidden;

    @media (max-width: 1440px) {
        font-size: 15px;
    }

    @media (max-width: 992px) {
        font-size: 14px;
    }

    @media (max-width: 667px) {
        font-size: 13px;
    }
}

button,
a {
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:focus {
        outline: none;
    }
}

a {
    color: #111;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: #111;
    }
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

p {
    color: #fff;
    font-size: 1rem;
    margin-top: 0;
}

main {
    min-height: 70vh;
}
